@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABnQAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEaATYCJAMICwYABCAFhG0HMBvABcgekiRFKvGMAHlOAUAI8fDf2u++nfmmSFKNRNEsmmiWaJREglg4PwW6l7D/u6a/Y9J5vuwGxLL4c8fpy+UKbugQNJGwtSNHYKuWmJv1RhxOm0CBzAfKZe5BXYBxQAHuhVFkBRRY5DkBb13GfQJNM5wcJz1DU1Ags5YF4lmRQlCQC8iykK4L1Zq9WbyrqBevxROAt/Dz8Q/+KKBQSayq86fuKLR9+e2sNFfOufMJggTmcAUJW0AmrmsTp7KFQMvWTORYAPsqD778ZembxF71QvjrrNI2mILgnoSu6Fa/WYCMhCVgf5SX1Lam3r+9zby/z76+Tr+8RLwsF9IpnBna6+ykdnrX8WndZ+s6ZTLZN+nal13zvJQHLrJvWjdSOp3tSdd5HvgsF9INNK7UH22OplNtI8HvQBtAOUp29gE4EHxU398GyncuaGXwmap54X3lKEM/F6ifwBn8KGHPgayLLWORVWFtprAk+wbampoosZ6hv7GaibvKhLqJe3PVTKe2pK4LQczULVS0bKOqbh9Nm3oPt4zhskVuYMMyIfTdodA1QtL3TMzUX1RM+kdVP7LRdBtjZ7ashFJ0zDEkMErCKaJEmEkdsyiKyidQsvUQz4pD+gxySwkTn9tbTPeiiXyODVZc8gtBCeXMID30GOo6IzHOVIwItyxErMHjoXUvckeYAUWOcShEQFFEWAqhiGBM1B8tFJXePwFJbLoQ3tJX45yBOIsyOeHj5u1B7FWYvfru5RlLnMRPECiC4hgD0UOzkE7HELH6WSoUIbjJI2IxDTz2MNpX4V5fZXzdMWiytEXY05LqC7MtmwEA') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsousuo:before {
  content: "\e632";
}
